.page-container {
  padding: 1rem 1rem 0;
  max-width: 600px;
  margin: auto;
}

.logo:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px rgb(109, 105, 105);
}

mat-expansion-panel {
  margin-bottom: 1rem;
}

mat-panel-description {
  vertical-align: middle !important;
}

mat-panel-title > h2 {
  margin: 0px !important;
  font-weight: bold;
}

.correct {
  color: green;
}
