<div class="page-container">
  <h2><b class="logo" routerLink="/">OptomCards</b> - {{totalQuestions}} Questions</h2>
  <div>
    <div *ngFor="let entry of map | keyvalue">
      <mat-expansion-panel>
        <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between center">
          <mat-panel-title fxFlex="60%">
            <h2>{{entry.key}}</h2>
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="start center">
              {{correctMap.get(entry.key).size}}/{{entry.value.length}}  Qns
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let question of entry.value">
          <h3 fxLayout="row" fxLayoutAlign="space-between center">
            <span>
              {{question.question.endsWith('?') ? [question.question] : [question.question] + '?'}}
            </span>
            <mat-icon class="correct" *ngIf="question.correct">check</mat-icon>
          </h3>
          <p>{{question.answer}}</p>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
