* {
  text-align: center;
}

.landing-container {
  padding: 1rem;
  min-height: 100%;
  max-width: 600px;
  margin: auto;
}

.top-container {
  width: 100%;
}

.link :hover {
  cursor: pointer !important;
}

.mat-headline {
  padding-bottom: 2rem !important;
}
