<div *ngIf="shuffledQs.length !== 0" class="quiz-container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.gt-xs="start center">
  <div>
    <h2 fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <b class="logo" routerLink="/">OptomCards</b>
        - {{displayIndex}}/{{displayLength}}
      </span>
      <span>
        <button mat-icon-button (click)="reset()"
          matTooltip="Shuffles current questions">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog()"
          matTooltip="Settings">
          <mat-icon>more_vert</mat-icon>
        </button>
      </span>
    </h2>
  </div>
  <div class="quiz-body" fxFlex fxFlex.gt-xs="30%">
    <mat-card fxFlex>
      <div *ngIf="displayLength !== 0 || markedFinalQuestion" class="card-container" fxLayout="column" fxLayoutAlign="space-between stretch">
        <div fxFlex>
          <h3 class="category" fxLayout="row" fxLayoutAlign="space-between center">
            <span fxFlex>
              <i>{{shuffledQs[currentIndex].category}}</i>
            </span>
            <mat-icon *ngIf="shuffledQs[currentIndex].correct" class="correct">check_circle</mat-icon>
            <mat-icon *ngIf="!shuffledQs[currentIndex].correct" class="incorrect">close</mat-icon>
          </h3>
          <h2 class="question">
            {{shuffledQs[currentIndex].question.endsWith('?') ? [shuffledQs[currentIndex].question] : [shuffledQs[currentIndex].question] + '?'}}
          </h2>
          <mat-form-field appearance="outline">
            <mat-label>Enter Your Answer</mat-label>
            <textarea
              matInput [(ngModel)]="userAnswer"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"></textarea>
          </mat-form-field>
          <div class="mark-row" fxLayout="row" fxLayoutAlign="start center">
            <button class="mark-button" mat-stroked-button (click)="markAnswer()">MARK</button>
            <span *ngIf="percentageCorrect > 50" class="correct">Correct!</span>
            <span *ngIf="percentageCorrect <= 50 && percentageCorrect != -1" class="incorrect">Incorrect!</span>
            <button mat-icon-button class="info-button" *ngIf="percentageCorrect != -1" (click)="percentage.toggle()" #percentage="matTooltip" matTooltip="{{percentageCorrect}}% unique words matched">
              <mat-icon>info_outline</mat-icon>
            </button>
          </div>
          <p class="answer" *ngIf="showAnswer || alwaysShow">{{shuffledQs[currentIndex].answer}}</p>
        </div>
        <div *ngIf="showAnswer || alwaysShow" fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-icon-button mat-stroked-button (click)="markCorrect()">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button mat-stroked-button (click)="markIncorrect()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="displayLength === 0 && !markedFinalQuestion" fxLayout="row" fxFlexLayout="center center">
        <h1 fxFlex>No more questions left! Change the preferences to get new questions and continue on :)</h1>
      </div>
    </mat-card>
  </div>
  <div class="quiz-buttons">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button [disabled]="disablePrevButton()" (click)="previousQuestion()">BACK</button>
      <button id="hideShowButton" mat-raised-button (click)="toggleShowAnswer()">{{showAnswer ? 'HIDE' : 'CHECK'}}</button>
      <button mat-raised-button [disabled]="disableNextButton()" (click)="nextQuestion()">NEXT</button>
    </div>
  </div>
</div>
