.quiz-container {
  padding: 1rem;
  min-height: 100%;
  max-width: 600px;
  margin: auto;
}

b:hover {
  cursor: pointer !important;
  text-shadow: 2px 2px 5px rgb(109, 105, 105);
}

.quiz-container > div {
  width: 100%;
}

mat-card {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.mark-button {
  margin-right: 1rem;
}

.mark-row {
  margin-bottom: 1rem;
  height: 40px;
}

.info-button {
  color: rgba(0, 0, 0, 0.5);
}

.quiz-buttons > div > button {
  margin: 0 1rem;
}

#hideShowButton {
  width: 71.35px;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.card-container {
  height: 100%;
}
