.quiz-container {
  padding: 1rem;
  min-height: 100%;
  max-width: 600px;
  margin: auto;
}

b:hover {
  cursor: pointer !important;
  text-shadow: 2px 2px 5px rgb(109, 105, 105);
}

.quiz-container > div {
  width: 100%;
}

mat-icon {
  font-family: 'Material Icons' !important;
  vertical-align: middle;
}

mat-card {
  margin-bottom: 1rem;
}

.quiz-buttons > div > button {
  margin: 0 1rem;
}

#hideShowButton {
  width: 71.35px;
}



