/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-icon {
  font-family: 'Material Icons' !important;
  vertical-align: middle;
}

.logo {
  font-family: 'Rubik', sans-serif !important;
}

* {
  font-family: 'Karla', sans-serif !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.logo:focus {
  outline: 0 !important;
}
