<button mat-raised-button routerLink="/">Home</button>
<h3>{{shuffledQs[currentIndex].category}}</h3>
<h2>{{shuffledQs[currentIndex].question}}</h2>
<h3 *ngIf="showAnswer || alwaysShow">{{shuffledQs[currentIndex].answer}}</h3>
<button mat-raised-button (click)="toggleShowAnswer()">{{showAnswer ? 'Hide' : 'Check'}}</button>
<button mat-raised-button [disabled]="currentIndex === 0" (click)="previousQuestion()">Back</button>
<button mat-raised-button [disabled]="currentIndex === shuffledQs.length - 1" (click)="nextQuestion()">Next</button>
<button mat-raised-button (click)="reset()">Reset</button>
<p>{{currentIndex + 1}}/{{shuffledQs.length}}</p>
<p>Options</p>
<mat-checkbox [(ngModel)]="alwaysShow">Always show answers</mat-checkbox>
<p>Skip Categories</p>
<mat-checkbox *ngFor="let category of categories" [checked]="skipMap.get(category)" (change)="updateCheck(category)">{{category}}</mat-checkbox>

